---
import Layout from "../layouts/Layout.astro";

import Contact from "../components/Contact.astro";
import Display from "../components/Display.astro";
import Grid from "../components/Grid.astro";
import Icons from "../components/Icons.astro";
import Link from "../components/Link.astro";
import Section from "../components/Section.astro";
import Text from "../components/Text.astro";
---

<Layout title="STARTLAB — Riccardo Brero">
  <Contact />

  <Section
    title="STARTLAB©2022 — Riccardo Brero"
    logo={true}
    backgroundImage={"url('./bg.svg')"}
  >
    <Display>
      Freelance <u>DESIGNER</u> & DEVELOPER with a focus on WEBSITES, EXPERIENCES
      and INTERFACES. Based in <u>ITALY</u>, working REMOTELY.
    </Display>

    <div class="space"></div>
  </Section>

  <Section title="SOME WORDS">
    <Grid>
      <Text>
        → Hello <br />
        I'm a computer science student with a passion for technology and design.
        I create applications and websites for companies and individuals all over
        the world. Focused on creating beautiful digital experiences through the
        most innovative technologies.
      </Text>

      <Text>
        → Education <br />
        I graduated in computer science at the G. Vallauri Institute of Higher Education
        in Fossano. I am currently continuing my studies at the University of Turin.
      </Text>

      <Text>
        → Experience <br />
        I worked as an intern at Alstom Ferroviaria and at Etinet.it in Savigliano.
      </Text>
    </Grid>

    <Grid>
      <Text>
        <Link href="https://bewond.com/">Bewond.com</Link>
        <br />
        Fantastic new startup that I founded and am working on.
      </Text>

      <Text>
        <Link href="https://codeframe.org/">Codeframe.org</Link>
        <br />
        Innovative project currently under development.
      </Text>
    </Grid>
  </Section>

  <Section title="CONTACT" links={true}>
    <Display>
      <Link href="mailto:hello@startlab.dev">hello@startlab.dev</Link>
      <br />
      @startlab
    </Display>

    <Icons />
  </Section>

  <style>
    .space {
      height: 20%;
    }
  </style>
</Layout>
